---
import { getEvents } from "../services/googleCalendar";
import { getFormattedDate } from "../services/date";

import Layout from "../layouts/Layout.astro";
import Card from "../components/card/Card.astro";
import Circle from "../components/circle/Circle.astro";
import styles from "./events.module.scss";

const events = await getEvents();
console.log(events?.[0]);

const dates = events?.map((e) =>
  getFormattedDate(e.start?.dateTime || e.start?.date)
);
---

<Layout title="Pink Sofa Hour | Events" class={styles.main}>
  <h1>Events</h1>
  <ul>
    {
      events?.map((event, i) => (
        <Card el="li">
          <div>
            <p>{dates?.[i]?.day}</p>
            <Circle>
              <p class={styles.circleText}>{dates?.[i]?.date}</p>
            </Circle>
            <p>{dates?.[i]?.month}</p>
          </div>
          <div>
            <p>{event.summary}</p>
            <p>{event.location}</p>
            <p>{event.description}</p>
            <a href={event.htmlLink}>
              <p>Details</p>
            </a>
          </div>
        </Card>
      ))
    }
  </ul>
</Layout>
