---
import { getEvents } from "../services/googleCalendar";
import Layout from "../layouts/Layout.astro";
import Card from "../components/card/Card.astro";
import styles from "./events.module.scss";

const events = await getEvents();
---

<Layout title="Pink Sofa Hour | Events">
  <main class={styles.main}>
    <h1>Events</h1>
    <ul class={styles.eventsList}>
      {
        events?.map((event, i) => (
          <Card el="li">
            <div class={styles.eventsListing}>
              <div class={styles.dateContainer}>
                <h2>28</h2>
                <h3>MONTH</h3>
                <div />
              </div>
              <div class={styles.detailsContainer}>
                <h2>{event.summary}</h2>
                <p>Date and time</p>
                <p>city, co</p>
              </div>
            </div>
          </Card>
        ))
      }
      {
        events?.map((event, i) => (
          <Card>
            <h2>{event.summary}</h2>
            <p>{event.description}</p>
            <p>Start: {event?.start?.dateTime || event?.start?.date}</p>
            <p>End: {event?.end?.dateTime || event?.end?.date}</p>
          </Card>
        ))
      }
    </ul>
  </main>
</Layout>
