---
import Layout from "../layouts/Layout.astro";
import { google } from "googleapis";
import styles from "./events.module.scss";
import Card from "../components/card/Card.astro";

console.log("google api key: ", import.meta.env.GOOGLE_API_KEY);
console.log("google calendar id: ", import.meta.env.GOOGLE_CALENDAR_ID);

const calendar = google.calendar({
  version: "v3",
  auth: import.meta.env.GOOGLE_API_KEY,
});
console.log("calendar: ", calendar);

let events;

try {
  const response = await calendar.events.list({
    calendarId: import.meta.env.GOOGLE_CALENDAR_ID,
    timeMin: new Date().toISOString(),
    singleEvents: true,
    orderBy: "startTime",
  });
  console.log("calendar response: ", response);

  events = response.data.items;
} catch (error) {
  console.error("Error fetching events", error);
}
---

<Layout title="Pink Sofa Hour | Performances">
  <main class={styles.main}>
    <h1>Events</h1>
    <ul class={styles.eventsList}>
      {
        events?.map((event, i) => (
          <Card>
            <div class={styles.eventsListing}>
              <div class={styles.dateContainer}>
                <h2>28</h2>
                <h3>MONTH</h3>
                <div />
              </div>
              <div class={styles.detailsContainer}>
                <h2>{event.summary}</h2>
                <p>Date and time</p>
                <p>city, co</p>
              </div>
            </div>
          </Card>
        ))
      }
      {
        events?.map((event, i) => (
          <Card>
            <h2>{event.summary}</h2>
            <p>{event.description}</p>
            <p>Start: {event?.start?.dateTime || event?.start?.date}</p>
            <p>End: {event?.end?.dateTime || event?.end?.date}</p>
          </Card>
        ))
      }
    </ul>
  </main>
</Layout>
