---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { readJsonFileFromDrive } from "../services/dataService";
import ArtistCard from "../components/ArtistCard.astro";

const cardsJsonGoogleDriveId = "1SayYl7IcBgBUjjWd5IF5PY56lohwx1gi";
const cards = await readJsonFileFromDrive(cardsJsonGoogleDriveId);
---

<Layout title="Pink Sofa Hour">
  <main>
    <div class="intro">

      <Card>
        <p>Welcome to the </p><h1 style="color: #FCB8D1;">Pink Sofa Hour</h1> <!-- This changes the alignment of the title, but gives it an interesting offset. I'll leave it for now. -->
      </Card>

      <div class="intro-video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/O50RrxSSbqw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <Card>
        <h3 class="intro-text">
          A live streamed interview show for local musicians based in Boulder,
          Colorado.<br><br>Hosted by Pedro
        </h3>
      </Card>

    </div>

    <Card>
      <div class="grid-header">
        <form action="/">
          <select name="" id="">
            <option value="full-episodes">Full Episodes</option>
            <option value="performances">Performances</option>
            <option value="clips">Clips</option>
          </select>
        </form>
        <h4>View all</h4>
      </div>
    </Card>
  
    <div class="episode-grid">

      {
      // TODO fix any type
      cards.map((card: any) => (
        <ArtistCard
          title={card.title}
          description={card.description}
          date={card.date}
          photoId={card.photoId}
          videoUrl={card.videoUrl}
        />
      ))
      }

    </div>

  </main>
</Layout>

<style>
  main {
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 24px;
    gap: 24px;

    background-image: url("https://drive.google.com/uc?id=1GRZpi4Me3GN0BmOZo15E3u6IePckNBsG");
    background-size: cover;

    overflow-y: scroll;

    /* border: 5px solid navy; */
  }

  .intro {
    width: 100%;
    display: grid;
    row-gap: 12px;
    /* border: red 5px solid; */
  }

  .intro-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
  }

  .intro-video iframe {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .intro h1 {
    text-align: center;
    letter-spacing: .2rem;
  }

  .grid-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: red 5px solid; */
  }

  .grid-header select {
    font-family: NeutraText-bold;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #FCB8D1;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .grid-header h4 {
    color: #FCB8D1;
  }

  .episode-grid {
    --auto-grid-min-size: 250px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    column-gap: 1rem;
    /* border: red 5px solid; */
    width: 100%;
  }

</style>
