---
import Layout from "../layouts/Layout.astro";
import Card from "../components/card/Card.astro";
import { readJsonFileFromDrive } from "../services/dataService";
import ArtistCard from "../components/artistCard/ArtistCard.astro";
import styles from "./index.module.scss";

const cardsJsonGoogleDriveId = "1SayYl7IcBgBUjjWd5IF5PY56lohwx1gi";
const cards = await readJsonFileFromDrive(cardsJsonGoogleDriveId);
---

<Layout title="Pink Sofa Hour">
  <main class={styles.indexView}>
    <div class={styles.intro}>
      <Card>
        <h1 style="letter-spacing: 0.5rem;">Pink Sofa Hour</h1>
        <!-- Couldn't get this css property to work in the modules file -->
      </Card>

      <div class={styles.introVideo}>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/O50RrxSSbqw"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>

      <Card>
        <h3 class={styles.introText}>
          A live streamed interview show for local musicians based in Boulder,
          Colorado.<br /><br />Hosted by Pedro
        </h3>
      </Card>
    </div>

    <!-- <Card>
      <div class={styles.gridHeader}>
        <form action="/">
          <select name="" id="">
            <option value="full-episodes">Full Episodes</option>
            <option value="performances">Performances</option>
            <option value="clips">Clips</option>
          </select>
        </form>
        <h4>View all</h4>
      </div>
    </Card> -->

    <div class={styles.episodeGrid}>
      {
        // TODO fix any type
        cards.map((card: any) => (
          <ArtistCard
            title={card.title}
            description={card.description}
            date={card.date}
            photoId={card.photoId}
            videoUrl={card.videoUrl}
          />
        ))
      }
    </div>
  </main>
</Layout>
