---
import Card from "../card/Card.astro";
import YoutubeButton from "../youtubeButton/YoutubeButton.astro";
import styles from "./artistCard.module.scss";

interface Props {
  title: string;
  description?: string;
  photoId: string;
  videoUrl: string;
}

const { title, description, photoId, videoUrl } = Astro.props;
---

<Card class={styles.artistCard}>
  <img src={`https://drive.google.com/uc?id=${photoId}`} />
  <h2>{title}</h2>
  {description && <p>{description}</p>}
  <a target="_blank" href={videoUrl}>
    <YoutubeButton />
    <p>Watch on Youtube</p>
  </a>
</Card>
