---
import { ViewTransitions } from "astro:transitions";

import Header from "./partials/header/Header.astro";
import Card from "../components/card/Card.astro";
import Banner from "../components/banner/Banner.astro";

import styles from "./layout.module.scss";
import "../styles/index.css";

interface Props {
  title: string;
  heading?: string;
  class?: string;
}

const { title, heading, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Banner />
    <main class={`${styles.main} ${className}`}>
      {
        heading && (
          <Card>
            <h1>{heading}</h1>
          </Card>
        )
      }
      <slot />
    </main>
    <!-- TODO why doesn't installing htmx npm package work? -->
    <script
      src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
