---
import { ViewTransitions } from "astro:transitions";

import Header from "./partials/header/Header.astro";
import Card from "../components/card/Card.astro";

import styles from "./layout.module.scss";
import "../styles/index.css";

interface Props {
  title: string;
  heading?: string;
  class?: string;
}

const { title, heading, class: className } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class={`${styles.main} ${className}`}>
      {
        heading && (
          <Card>
            <h1>{heading}</h1>
          </Card>
        )
      }
      <slot />
    </main>
  </body>
</html>
